<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Classical Cipher</title>
  </head>
  <body>

  <div id="main-area">

    <nav id="navbar-area" class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#"><strong>Classical Cryptography</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="app-container">

      <div class="app-input">
        
        <div class="app-container-title">
          <h5 id="left-tab">Plaintext</h5>
        </div>

        <div class="app-container-area">

          <form>
            <div class="form-group">
              <label class="form-label float-left" for="input-text-box">Input Text :</label>
              <textarea class="form-control" id="input-text-box" rows="17" spellcheck="false"></textarea>
            </div>
          </form>

        </div>

      </div>

      <div class="app-setting">

        <div class="app-setting-title">
          <h3 class="app-setting-title-text">Action</h3>
        </div>
        
        <div class="app-setting-action">        
          <div class="btn-group btn-group-toggle app-setting-action-button" data-toggle="buttons">
            <label id="app-setting-action-button-1" class="btn btn-primary shadow-none encrypt-button active">
              <input type="radio" name="action-options" id="encrypt" autocomplete="off" onchange="handleChange(this);" checked> Encrypt
            </label>
            <label id="app-setting-action-button-2" class="btn btn-primary shadow-none decrypt-button">
              <input type="radio" name="action-options" id="decrypt" autocomplete="off" onchange="handleChange(this);"> Decrypt
            </label>
          </div>
        </div>
        
        <div class="app-setting-form">
          <div class="app-setting-form-container">
            <select class="custom-select">
              <option selected>Select Cryptography Technique!</option>
              <option value="1">Vinigire Cipher</option>
              <option value="2">Full Vigenere Cipher</option>
              <option value="3">Auto-key Vigenere Cipher</option>
              <option value="4">Extended Vigenere Cipher</option>
              <option value="5">Playfair Cipher</option>
              <option value="6">Affine Cipher</option>
              <option value="7">Hill/Enigma Cipher</option>
            </select>
          </div>
        </div>
        
        <div class="app-setting-execute">
          <button id="execute-button" class="btn btn-primary shadow-none btn-block execute-button" type="button" id="btn-post" onclick="do_ajax();">Execute!</button>
        </div>
      
      </div>

      <div class="app-output">

        <div class="app-container-title">
          <h5 id="right-tab">Ciphertext</h5>
        </div>
      
        <div class="app-container-area">

          <form>
            <div class="form-group">
              <label class="form-label float-left" for="output-text-box">Output Text :</label>
              <textarea class="form-control" id="output-text-box" rows="18" spellcheck="false"></textarea>
            </div>
          </form>

        </div>

      </div>

    </div>
  
  </div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>